<h1>Kana</h1>
<nav>
  {{#link-to 'index'}}Dashboard{{/link-to}}
  {{#link-to 'hiragana'}}Hiragana{{/link-to}}
  {{#link-to 'katakana'}}Katakana{{/link-to}}
  {{#link-to 'vocab'}}Vocabulary{{/link-to}}
  {{#link-to 'reference'}}Reference{{/link-to}}
</nav>
