<div class="current-character">{{current_character}}</div>
<form {{action "checkInput" on="submit"}} class={{formStatus}}>
  {{input name=user_input value=user_input class="user-input"}}
  <button type="submit">Check</button>
</form>
