<div class="score-board">
  <ul>
    <li><span class="label">Correct:</span> <span class="correct-answers">{{correct}}</span></li>
    <li><span class="label">Incorrect:</span> <span class="wrong-answers">{{incorrect}}</span></li>
  </ul>
</div>
