$black: #000;
$character-board-text: #222;
$character-board-input: #444;
$character-board-input-shadow: rgba(0, 0, 0, .1);
$header-background: #fafafa;
$header-shadow: rgba(0, 0, 0, .1);
$link-blue: #00aeff;
$white: #fff;
