$black: #000;
$character-board-input-shadow-correct: rgba(153, 245, 69, .47);
$character-board-input-shadow-error: rgba(245, 69, 69, .47);
$character-board-input-shadow: rgba(0, 0, 0, .1);
$character-board-input: #444;
$character-board-submit-check: #444;
$character-board-submit-correct: #4db124;
$character-board-submit-error: #f00;
$character-board-submit-hover: #fafafa;
$character-board-text: #222;
$continue-dialogue-background: rgba(255, 255, 255, .95);
$continue-dialogue-border: rgba(0, 0, 0, .1);
$continue-dialogue-text: #777;
$header-background: #fafafa;
$header-shadow: rgba(0, 174, 255, .32);
$link-color: #00aeff;
$reference-table-background: rgba(0, 0, 0, .015);
$white: #fff;
