.character-board {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  .current-character {
    color: $character-board-text;
    font-size: 20vw;
  }

  .user-input {
    border: 0;
    box-shadow: 0 0 1rem .1rem $character-board-input-shadow;
    color: $character-board-input;
    font-size: 8vw;
    outline: none;
    padding: 1rem;
    text-align: center;
    width: 35vw;
  }

  form {
    position: relative;

    button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .answer-correct {
    .user-input {
      box-shadow: 0 0 1rem .1rem $character-board-input-shadow-correct;
    }
  }

  .answer-error {
    .user-input {
      box-shadow: 0 0 1rem .1rem $character-board-input-shadow-error;
    }
  }
}
