<section class="reference-section">
  <ul>
    <li>{{#link-to 'reference.hiragana'}}Hiragana{{/link-to}}</li>
    <li>{{#link-to 'reference.katakana'}}Katakana{{/link-to}}</li>
    <li>{{#link-to 'reference.vocab'}}Vocabulary{{/link-to}}</li>
  </ul>
</section>
