<h2>Vocab</h2>
<table>
  <tr>
    <th>Hiragana</th>
    <th>Roomaji</th>
    <th>English</th>
  </tr>
  {{#each model as |word|}}
    <tr>
      <td>{{word.hiragana}}</td>
      <td>{{word.roomaji}}</td>
      <td>{{word.definition}}</td>
    </tr>
  {{/each}}
</table>
